* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: #91e994;
    color: white;
    padding: 0;
    text-align: center;
}

.colunas {
    display: flex;
    margin: 0;
}

.coluna-esquerda, .coluna-direita {
    width: 20%;
    background: #f4f4f4;
    padding: 0;
    height: 800px;
}

.conteudo {
    width: 60%;
    padding: 15px;
}

.coluna-esquerda ul {
    list-style-type: none;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
}
.sidebar-left:hover {
    text-decoration: underline;
    color: #91e994;
}

footer {
    text-align: center;
    background: #a1a1a1;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}