*{
    margin: 0;
}

header {
    background-color: rgb(17, 43, 115);
    height: 10px;
    align-items: center;
    }
    header > img {
        height: 65px;
        margin-top: 40px;
        display: flex;
        align-content: center;
        padding-left: 320px;
    }
footer{
    display: flex;
    text-align: center;
    margin-top: 40px;
    height: 27px;
}
article{
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    align-items: center;
    padding-left: 340px;
}
article > div{
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    align-items: center;
    padding-left: 340px;
}

.sobre-unes{
    display: flex;
    text-align: center;
    padding-left: 320px;
    padding-top: 20px;
    padding-right: 320px;
}
.texto01{
    display: flex;
    text-align: center;
    padding-left: 320px;
    padding-top: 20px;
    padding-right: 320px;
}
.texto02{
    display: flex;
    text-align: center;
    padding-left: 320px;
    padding-right: 320px;
    padding-top: 20px;
}
.capa-unes{
    display: flex;
    align-items: center;
}